body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

#search-input {
    width: calc(100% - 110px);
    padding: 10px;
}

#search-button {
    padding: 10px;
}

#movie-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.movie-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: calc(33% - 20px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.movie-item img {
    max-width: 100%;
}

#pagination {
    text-align: center;
    margin-top: 20px;
}

#favorites-container {
    margin-top: 40px;
}

#favorites-list {
    display: flex;
    flex-wrap: wrap;
}
